:root {
  --vp-c-brand: #e23;
  --vp-c-brand-1: #e23;
  --vp-c-brand-2: #c01;
  --vp-c-brand-light: #e23;
}

:where(.vp-doc) :is(td) {
  overflow-wrap: break-word;
}

:where(.vp-doc) :is(code) {
  overflow-wrap: anywhere;
}
