name: Pull Request CI

on:
  pull_request:
  push:
    branches:
      - develop
jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          persist-credentials: false

      - name: Install npm v8
        run: npm i -g npm@8

      - name: Prettify code
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --write src/*.md
          only_changed: True
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply formatting changes
          branch: ${{ github.head_ref }}
